body{
    background-color: rgb(12, 12, 12);
}
a{
    color: white;
}
.a:hover{
    color: rgb(255, 153, 0);
}
.text-white{
    color: white;
}
.bg-rgb26{
    background-color: rgb(26, 26, 26);
}
.bg-rgb16{
    background-color: rgb(16, 16, 16);
}
.btn-outline-rgb255{
    border-color: rgb(255, 153, 0);
}
.btn-dark{
    background-color: rgb(36, 36, 36s);
}
.spanduk{
    color: black;
    background-color: rgb(255, 153, 0);
}
.btn-menu{
    background-color: rgb(26, 26, 26);
    color: white;
}
.btn-menu:hover{
    color: rgb(255, 153, 0);
    background-color: rgb(19, 19, 19);
}
.img-promo{
    max-width: 95%;
}
.btn-nav{
    color: white;
    border-radius: 0;
}
.btn-nav:hover{
    color: rgb(255, 153, 0);
    background-color: rgb(19, 19, 19);
}
.btn-prod{
    height: 80px;
    width: 98%;
    background-color: rgb(26, 26, 26);
    color: white;
}
.btn-prod:hover{
    background-color: rgb(19, 19, 19);
    color: rgb(255, 153, 0);
}
.bg-content{
    background-color: rgb(26, 26, 26);
}
.card-big{
    width: 100%;
    background-color: rgb(26, 26, 26);
    color: white;
}
.card-big a{
    color: rgb(204, 204, 204);
}
.card-big a:hover{
    color: rgb(255, 153, 0);
    text-decoration: none;
}
.card{
    background-color: rgb(26, 26, 26);
}
.img-product{
    max-height: 700px !important;
    max-width: 700px !important;
}
.border-custom{
    border-color: rgb(12, 12, 12) !important;
    border-bottom-width: 3px !important;
}
.social img{
    width: 40px;
    height: 40px;
}
.kaki {
    color: white;
}
.kaki a{
    color: rgb(179, 179, 179);
}
.kaki a:hover{
    color: white;
    text-decoration: none;
}
/* >>>>>>>> */
.whatsapp{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:40px;
	box-shadow: 1px 1px 1px rgb(34, 34, 34);
    z-index:100;
}
.whatsapp:hover{
    color: #FFF;
    background-color: #0c973f;
}
.modal-content{
    background-color: rgb(26, 26, 26);
    color: white;
}
.user-modal{
    background-color: rgb(255, 153, 0);
    border-radius: 50px;
}
.modal-body a{
    text-decoration: none;
}
.admin-icon{
    width: 100px;
    height: 100px;
}
.fa-color:hover{
    color: rgb(255, 153, 0);
}
.admin-execute{
    position:fixed;
	width:60px;
	height:60px;
	bottom:80px;
	right:40px;
	background-color:rgb(255, 153, 0);
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:40px;
	box-shadow: 1px 1px 1px rgb(34, 34, 34);
    z-index:100;
}
.card-header img{
    max-height: 700px !important;
    max-width: 700px;
}
@media (max-width: 600px){
    .carousel{
        height: 300px;
        margin-top: 56px !important;
    }
    .cat-card{
        margin-top: 20px;
    }
}